 @keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf3 img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
center:0;
animation-duration: 10s;
animation-direction: alternate;
}
#cf {
  position:relative;
  height:360px;
  width:2550px;
  margin:0 auto;
    center:0;
}

#cf img {
  position:absolute;
right:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
position:relative;
  height:360px;
  width:2550px;
  margin:0 auto;
    center:0;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-image: url(images/table.jpg);
	background-size: cover;
	height: 30%;
	
}